---
import PageLayout from '@/layouts/CommonPage.astro'
---

<PageLayout title='Uber Case Study using PySpark' showaside="false" back='/Mr.-Data-Engineer/projects' >
  <div id="fileContent" style="all: revert"></div>

</PageLayout>

<script>
fetch('/Mr.-Data-Engineer/myprojects/pyspark.html')
  .then((response) => response.text())
  .then((text) => new DOMParser().parseFromString(text, "text/html"))
  .then((dom) =>  
  {
      dom.getElementsByTagName('html')[0].style.fontFamily = 'Satoshi, sans-serif';
      for (const element of dom.getElementsByTagName('p'))
      {
         element.style.fontSize = '1rem';
      }
      for (const element of dom.getElementsByTagName('li'))
      {
         element.style.fontSize = '1rem';
      }
      return document.getElementById('fileContent')?.appendChild(dom.documentElement);
   })
   .then(
      (fulldoc) => {
         for (const element of fulldoc!.getElementsByTagName('pre')) {
            element.style.backgroundColor = 'white'; 
            element.style.color = 'black';
            element.style.fontSize = '0.8rem';
      }
   }
   )
   ;
   
 </script>
 
