---
import type { HTMLTag, Polymorphic } from 'astro/types'

import { cn } from 'astro-pure/utils'

type Props<Tag extends HTMLTag> = Polymorphic<{ as: Tag }> & {
  heading?: string
  subheading?: string
  date?: string
  class?: string
}

const { as: Tag = 'div', class: className, href, heading, subheading, date } = Astro.props
const showhr = subheading.length > 0
---

<Tag
  class={cn(
    'not-prose block relative rounded-2xl border bg-muted px-5 py-3',
    href && 'transition-all hover:border-foreground/25 hover:shadow-sm',
    className
  )}
  href={href}
>
  <div class='flex flex-col gap-y-1.5'>
    <div class='flex flex-col gap-y-0.5'>
      <h2 class='text-lg font-medium'>{heading}</h2>
      <hr>
      <p class='text-muted-foreground ml-5'>{subheading}</p> 
      {showhr && <hr>}
      <slot />
      <p class='text-muted-foreground ml-5'>{date}</p>
    </div>
    
  </div>
</Tag>
